//
   Created by gaojian on 16/3/10.
    - var newsInMonth_rootUrl = ""
    - var newsInMonth_news_titleImg = [newsInMonth_rootUrl+"static/img/news/img_news_titleImg.jpg"]
    - var newsInMonth_news_icon_clock = [newsInMonth_rootUrl+"static/img/news/news_icon_clock.png"]
    - var newsInMonth_newsItem = {a_news_title:"标题标题标题标题",newsDate:"20160309",newsSummary:"简介简介简介简介简介简介简介简介简介简介简简介简介简介简介简介简介简介简介简介简介简简介简介简介简介简介简介简介简介简介简介简简介简介简介简介简介简介简介简介简介简介简"}
.medianewsBox.on
    .monthNews
        .month 2016年2月
        ul.newsList
            - for (var i=0;i<2;i++)
                li.listItem.clearfix
                    .newsTitleImg
                        a(href="")
                            img&attributes({src: newsInMonth_news_titleImg})
                    .tixtBox
                        a(href="")
                            p.newstitle #{newsInMonth_newsItem.a_news_title}
                        p.newsDate
                            img&attributes({src: newsInMonth_news_icon_clock})
                            span #{newsInMonth_newsItem.newsDate}
                        p.newssummary #{newsInMonth_newsItem.newsSummary}
    .monthNews
        .month 2016年1月
        ul.newsList
            - for (var i=0;i<4;i++)
                li.listItem.clearfix
                    .newsTitleImg
                        a(href="")
                            img&attributes({src: newsInMonth_news_titleImg})
                    .tixtBox
                        a(href="")
                            p.newstitle #{newsInMonth_newsItem.a_news_title}
                        p.newsDate
                            img&attributes({src: newsInMonth_news_icon_clock})
                            span #{newsInMonth_newsItem.newsDate}
                        p.newssummary #{newsInMonth_newsItem.newsSummary}
.medianewsBox
    .monthNews
        .month 2015年2月
        ul.newsList
            - for (var i=0;i<2;i++)
                li.listItem.clearfix
                    .newsTitleImg
                        a(href="")
                            img&attributes({src: newsInMonth_news_titleImg})
                    .tixtBox
                        a(href="")
                            p.newstitle #{newsInMonth_newsItem.a_news_title}
                        p.newsDate
                            img&attributes({src: newsInMonth_news_icon_clock})
                            span #{newsInMonth_newsItem.newsDate}
                        p.newssummary #{newsInMonth_newsItem.newsSummary}
    .monthNews
        .month 2015年1月
        ul.newsList
            - for (var i=0;i<4;i++)
                li.listItem.clearfix
                    .newsTitleImg
                        a(href="")
                            img&attributes({src: newsInMonth_news_titleImg})
                    .tixtBox
                        a(href="")
                            p.newstitle #{newsInMonth_newsItem.a_news_title}
                        p.newsDate
                            img&attributes({src: newsInMonth_news_icon_clock})
                            span #{newsInMonth_newsItem.newsDate}
                        p.newssummary #{newsInMonth_newsItem.newsSummary}
.medianewsBox
    .monthNews
        .month 2014年2月
        ul.newsList
            - for (var i=0;i<2;i++)
                li.listItem.clearfix
                    .newsTitleImg
                        a(href="")
                            img&attributes({src: newsInMonth_news_titleImg})
                    .tixtBox
                        a(href="")
                            p.newstitle #{newsInMonth_newsItem.a_news_title}
                        p.newsDate
                            img&attributes({src: newsInMonth_news_icon_clock})
                            span #{newsInMonth_newsItem.newsDate}
                        p.newssummary #{newsInMonth_newsItem.newsSummary}
    .monthNews
        .month 2014年1月
        ul.newsList
            - for (var i=0;i<4;i++)
                li.listItem.clearfix
                    .newsTitleImg
                        a(href="")
                            img&attributes({src: newsInMonth_news_titleImg})
                    .tixtBox
                        a(href="")
                            p.newstitle #{newsInMonth_newsItem.a_news_title}
                        p.newsDate
                            img&attributes({src: newsInMonth_news_icon_clock})
                            span #{newsInMonth_newsItem.newsDate}
                        p.newssummary #{newsInMonth_newsItem.newsSummary}
.medianewsBox
    .monthNews
        .month 2013年2月
        ul.newsList
            - for (var i=0;i<2;i++)
                li.listItem.clearfix
                    .newsTitleImg
                        a(href="")
                            img&attributes({src: newsInMonth_news_titleImg})
                    .tixtBox
                        a(href="")
                            p.newstitle #{newsInMonth_newsItem.a_news_title}
                        p.newsDate
                            img&attributes({src: newsInMonth_news_icon_clock})
                            span #{newsInMonth_newsItem.newsDate}
                        p.newssummary #{newsInMonth_newsItem.newsSummary}
    .monthNews
        .month 2013年1月
        ul.newsList
            - for (var i=0;i<4;i++)
                li.listItem.clearfix
                    .newsTitleImg
                        a(href="")
                            img&attributes({src: newsInMonth_news_titleImg})
                    .tixtBox
                        a(href="")
                            p.newstitle #{newsInMonth_newsItem.a_news_title}
                        p.newsDate
                            img&attributes({src: newsInMonth_news_icon_clock})
                            span #{newsInMonth_newsItem.newsDate}
                        p.newssummary #{newsInMonth_newsItem.newsSummary}
.medianewsBox
    .monthNews
        .month 2012年2月
        ul.newsList
            - for (var i=0;i<2;i++)
                li.listItem.clearfix
                    .newsTitleImg
                        a(href="")
                            img&attributes({src: newsInMonth_news_titleImg})
                    .tixtBox
                        a(href="")
                            p.newstitle #{newsInMonth_newsItem.a_news_title}
                        p.newsDate
                            img&attributes({src: newsInMonth_news_icon_clock})
                            span #{newsInMonth_newsItem.newsDate}
                        p.newssummary #{newsInMonth_newsItem.newsSummary}
    .monthNews
        .month 2012年1月
        ul.newsList
            - for (var i=0;i<4;i++)
                li.listItem.clearfix
                    .newsTitleImg
                        a(href="")
                            img&attributes({src: newsInMonth_news_titleImg})
                    .tixtBox
                        a(href="")
                            p.newstitle #{newsInMonth_newsItem.a_news_title}
                        p.newsDate
                            img&attributes({src: newsInMonth_news_icon_clock})
                            span #{newsInMonth_newsItem.newsDate}
                        p.newssummary #{newsInMonth_newsItem.newsSummary}

